<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @pessoa.cpf %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @pessoa.uf %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @pessoa.cidade %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @pessoa.endereco %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pessoa.email %>
</p>






        <% if can? :update, @pessoa %>
<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
        <% end %>
<%= link_to 'Back', pessoas_path %>
