<%= form_for(@questao) do |f| %>



  <% if @questao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questao.errors.count, "error") %> prohibited this questao from being saved:</h2>

      <ul>
      <% @questao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_area :titulo %>
  </div>

  <div class="field">


        <%= f.hidden_field 'pessoa_id' %>
  </div>
  <div class="actions">
    <%= f.submit "Cadastrar Pessoa"%>
  </div>
  
<% end %>


