<h1>Editing item_pautum</h1>

<%= form_for(@item_pautum) do |f| %>
  <% if @item_pautum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_pautum.errors.count, "error") %> prohibited this item_pautum from being saved:</h2>

      <ul>
      <% @item_pautum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :observacao %><br>
    <%= f.text_area :observacao %>
  </div>
  <div class="field">
    <%= f.label :pautum_id %><br>
        <%= f.hidden_field 'pautum_id' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Exibir', @item_pautum %> |
<%= link_to 'Voltar', pautum_path(@item_pautum.pautum) %>
