<%= form_for(@reuniao) do |f| %>
  <% if @reuniao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reuniao.errors.count, "error") %> prohibited this reuniao from being saved:</h2>

      <ul>
      <% @reuniao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_area :titulo %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :horaInicio %><br>
    <%= f.time_select :horaInicio %>

  </div>
  <div class="field">
    <%= f.label :horaFim %><br>
    <%= f.time_select :horaFim %>
  </div>

  <div class="field">
    <%= f.label :local_id %><br>
    <%= f.collection_select(:local_id, Local.order(:id),:id, :endereco, :prompt => true) %>
  </div>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, Category.order(:id),:id, :titulo, :prompt => true) %>
  </div>
  <div class="actions">
    <%= f.submit "Criar Reunião"%>
  </div>
<% end %>
